{%  extends "users/FORMBASE.html" %}
 
{% load crispy_forms_tags %}
{% load materializecss %}
{% block navBar %}
{% include 'snippets/mainNav.html' %}
{% endblock  %}
{% block content %}
<div class="container">
    <h2>Welcome To Twaatch</h2>
    <div class="form-container">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> Register</legend>
                {{form1|materializecss}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit"> Sign Up </button>
            </div>
        </form>
        <a href="{%url 'login' %}">
            <button class="btn btn-small"> Have an Account!? </button></a>
    </div>
</div>

{% endblock content %}