.gallery-image {
    margin-bottom: 10%;
}

.baap {
    z-index: 1000;
}

.my {
    width: 95%;

}

.pp {
    max-width: 180px;
    z-index: 1000;
    position: relative;
    /* top:49%; */
    /* top: -100; */
    /* border: 490px; */
    transform: translateY(-49%);
    /* border-radius: 100%; */
    border-radius: 50%;
}

.circular--portrait {
    /* max-width: 180px; */
    z-index: 1000;
    position: relative;
    /* top:49%; */
    /* top: -100; */
    /* border: 490px; */

    position: relative;
    width: 16vw;
    height: 16vw;
    overflow: hidden;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    /* transform: translateX(1vw); */
}

.circular--portrait img {
    /* width: 100%;
    height: auto; */
}

.circular--square {
    border-radius: 50% !important;
}

.circular--landscape {
    margin: 4vh;
    display: inline-block;
    position: relative;
    max-width: 40vh;
    max-height: 40vh;
    /* width: 200px; */
    height: 40vh;
    overflow: hidden;
    border-radius: 50%;
}

.circular--landscape img {

    width: auto;
    height: 100%;
    /* margin-left: -50px; */
}

.goUp {
    transform: translateY(-20vh);
}

@media screen and (max-width: 600px) {
    header {
        /* min-height: 500px; */
    }

    .circular--portrait {
        margin-left: auto;
        margin-right: auto;
        width: 36vw;
        height: 36vw;
    }

    .goUp {
        transform: translateY(-18vh);
    }

    .circular--landscape {
        margin: 4vh;
        display: inline-block;
        position: relative;
        max-width: 60vh;
        max-height: 60vh;
        /* width: 200px; */
        height: 60vh;
        overflow: hidden;
        border-radius: 50%;
    }

    .circular--landscape img {

        width: auto;
        height: 100%;
        /* margin-left: -50px; */
    }

    .goUp {
        transform: translateY(-20vh);
    }

    .baapbaap {
        z-index: 9000;
    }

}

#postCalone {
    max-height: 260vh !important;
    overflow-y: scroll;
}

/* html,body{
    max-height: 800px !important;
    overflow-y: hidden;

} */
.tabs .indicator {
    background-color: #1a237e;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
    background: transparent;
}

.fixed-action-btn {
    z-index: 1000;
}

#coolButton {
    z-index: 8000;
    position: fixed;
    left: 40px;
    bottom: 40px;

}

#menu {
    transform: scale(2.0);
}

#username {
    text-transform: capitalize;
    font-weight: 100;
    /* lighter; */
}

#tabSection {
    max-height: 40vh;
}

.thin-text {
    font-weight: 360;
}
/* CSS HEX */
/* --lavender-floral: #aa7dceff;
--rich-black-fogra-39: #070707ff;
--international-orange-engineering: #b80c09ff;
--blue-violet-color-wheel: #5f0a87ff;
--jet: #33312eff; */
