{% extends "base.html" %}
{% load static %}

{% block navBar %}
    {% include 'snippets/mainNav.html' %}
{% endblock %}


{% block content %}
    <!-- <div class="container"> -->
    {#{% include 'Post/homePageMembers/homePageParallax.html' %}#}
    <style>

        #main-container {
            padding: 4%;
        }

        .member {
            padding: 30px;
        }


        #trendingPost {
            {#width: 100vw !important;#}
            {#height:60vh !important;#}
        }

        .tt {
            max-width: 40vw !important;
        }
    </style>
    <div id="trendingPost" class="row">
{#        <div class="col s12 ">#}
            <div class="carousel  carousel-slider">
                <div class="tt carousel-item ">
                    <div class="card">
                        <div class="card-image">
                            <img src="{% static 'csgo.jpg' %}">
                            <span class="card-title">Card Title</span>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                    class="material-icons">add</i></a>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information. I am
                                convenient
                                because I require little markup to use effectively.</p>
                        </div>
                    </div>
                </div>
                <div class="tt carousel-item ">
                    <div class="card">
                        <div class="card-image">
                            <img src="{% static 'csgo.jpg' %}">
                            <span class="card-title">Card Title</span>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                    class="material-icons">add</i></a>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information. I am
                                convenient
                                because I require little markup to use effectively.</p>
                        </div>
                    </div>
                </div>
                <div class="tt carousel-item ">
                    <div class="card">
                        <div class="card-image">
                            <img src="{% static 'csgo.jpg' %}">
                            <span class="card-title">Card Title</span>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                    class="material-icons">add</i></a>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information. I am
                                convenient
                                because I require little markup to use effectively.</p>
                        </div>
                    </div>
                </div>
                <div class="tt carousel-item ">
                    <div class="card">
                        <div class="card-image">
                            <img src="{% static 'csgo.jpg' %}">
                            <span class="card-title">Card Title</span>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                    class="material-icons">add</i></a>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information. I am
                                convenient
                                because I require little markup to use effectively.</p>
                        </div>
                    </div>
                </div>
                <div class="tt carousel-item ">
                    <div class="card">
                        <div class="card-image">
                            <img src="{% static 'csgo.jpg' %}">
                            <span class="card-title">Card Title</span>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                    class="material-icons">add</i></a>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information. I am
                                convenient
                                because I require little markup to use effectively.</p>
                        </div>
                    </div>
                </div>
                <div class="tt carousel-item ">
                    <div class="card">
                        <div class="card-image">
                            <img src="{% static 'csgo.jpg' %}">
                            <span class="card-title">Card Title</span>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                    class="material-icons">add</i></a>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information. I am
                                convenient
                                because I require little markup to use effectively.</p>
                        </div>
                    </div>
                </div>
            </div>

{#        </div>#}
    </div>
    <div class="container">
        <div id="recentPost" class="row">
              <div class="col s12">
               <h1>Recent Courses</h1>
            </div>
            <div class="col s12 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'csgo.jpg' %}">
                        <span class="card-title">Card Title</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient
                            because I require little markup to use effectively.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'csgo.jpg' %}">
                        <span class="card-title">Card Title</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient
                            because I require little markup to use effectively.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'csgo.jpg' %}">
                        <span class="card-title">Card Title</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient
                            because I require little markup to use effectively.</p>
                    </div>
                </div>
            </div>
{#            <div class="col s3">#}
{#                <div class="card">#}
{#                    <div class="card-image">#}
{#                        <img src="{% static 'csgo.jpg' %}">#}
{#                        <span class="card-title">Card Title</span>#}
{#                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i#}
{#                                class="material-icons">add</i></a>#}
{#                    </div>#}
{#                    <div class="card-content">#}
{#                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient#}
{#                            because I require little markup to use effectively.</p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}

        </div>
         <div id="New Post" class="row">
              <div class="col s12">
               <h1>New Courses</h1>
            </div>

            <div class="col s4">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'csgo.jpg' %}">
                        <span class="card-title">Card Title</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient
                            because I require little markup to use effectively.</p>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'csgo.jpg' %}">
                        <span class="card-title">Card Title</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient
                            because I require little markup to use effectively.</p>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'csgo.jpg' %}">
                        <span class="card-title">Card Title</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient
                            because I require little markup to use effectively.</p>
                    </div>
                </div>
            </div>
{#            <div class="col s3">#}
{#                <div class="card">#}
{#                    <div class="card-image">#}
{#                        <img src="{% static 'csgo.jpg' %}">#}
{#                        <span class="card-title">Card Title</span>#}
{#                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i#}
{#                                class="material-icons">add</i></a>#}
{#                    </div>#}
{#                    <div class="card-content">#}
{#                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient#}
{#                            because I require little markup to use effectively.</p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}

        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            /*
            $('.carousel').carousel({
                dist:0,
                fullWidth: true,
                shift:60,
                padding:100,
                numVisible:8
            });






            {# $('.carousel').height(400);#}
            */
            {#$("myCarousel").carousel({fullWidth: ,});#}
            {#instance;#}
            var instance = M.Carousel.init({
                fullWidth: true,

                indicators: true,
            });
            $('#trendingPost').carousel({
                fullWidth: false
            });
            $('#recentPost').carousel({
                fullWidth: true
            });
        });
    </script>
{% endblock content %}
{% block js %}

{% endblock %}