{% extends "base.html" %}
{% load static %}
{% block navBar %}
{% include 'snippets/mainNav.html' %}
{% endblock  %}

{% block content %}
<!-- <div class="container"> -->
{% include 'Post/homePageMembers/homePageParallax.html' %}
<style>
	.thinText {
		font-weight: 160;
	}

	#leftBar {
		height: 98vh;
	}

	#postCalone {
		max-height: 98vh !important;
		overflow-y: scroll;
	}

	@media screen and (max-width: 670px) {
		#postCalone {
			max-height: 98vh !important;
			overflow-y: scroll;
		}
	}
</style>
<div class="row">
	<div id="leftBar" class="blackShade2 col s12 m3 l3" ">
		<!-- Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos nobis aliquam ipsam placeat optio quia consequatur a minima incidunt temporibus voluptates autem repellendus repudiandae, et, earum minus consectetur voluptas animi. -->
		<div class=" row">
		<div class=" col s12 m9 offset-m3  ">

			{% include 'Post/homePageMembers/leftCreateBar.html' %}
		</div>
	</div>
</div>


<div id="postCalone" class="col s12 m6 ">
	<ul class="blackShade2 tabs">
		<li class=" tab col s4">
			<a href="#recentPosts" class="active ">
				Recent Posts
			</a>
		</li>
		<li class="tab col s4">
			<a href="#searchPosts" class="">
				Search Posts
			</a>
		</li>
		<li class="tab col s4">
			<a href="#announcements" class="">
				announcements
			</a>
		</li>
	</ul>

	<div id="recentPosts" class="col s12">
		{% include 'Post/homePageMembers/recentPosts.html' %}
	</div>
	<div id="searchPosts" class="col s12">
		<!-- <h2 class="active indigo-text text-darken-4">Search Posts</h2> -->
		<h2 class="white-text thinText">Search</h2>
		<div id="search">{% include 'Post/searchresults.html' %}</div>
	</div>
	<div id="announcements" class="col s12">
		<h2 class="white-text thinText">Announcements</h2>

		{% include 'Post/homePageMembers/announcements.html' %}
	</div>
</div>
<div class=" col s12 m3 l3">
	{% include 'Post/homePageMembers/rightSideBar.html' %}
</div>
</div>

{% endblock content %}
{% block js %}
<script type="text/javascript">
	$(document).ready(function (event) {
		$("bodt").addClass("grey");
		$(document).on("click", "#searchterm", function (event) {
			var searchterm = $("#searchcontent").val();

			$.ajax({
				type: "POST",
				url: '{% url "search" %}',
				data: {
					searchterm: searchterm,
					csrfmiddlewaretoken: "{{csrf_token}}",
				},
				success: function (response) {
					$("#search").html(response["form"]);
					console.log(searchterm);
					// $("#love").addClass("red-text");
				},
				error: function (rs, e) {
					console.log(rs.responseText);
				},
			});
		});
	});
</script>
{% endblock %}