<div class="card">
    <div class="card-content">
        <br>
        <div class="center">
            {% if user.is_authenticated%}
            <a class="btn btn-large amber indigo-text text-darken-4 center  waves-effect waves-light"> Create
            </a>
            <br>
            <a href="{% url 'post-create' type=0%} "
                class="btn btn-large amber indigo-text text-darken-4 center  waves-effect waves-light"> Posts!
            </a>
            <br>
            <a href="{% url 'post-create' type=1%} "
                class="btn btn-large amber indigo-text text-darken-4 center  waves-effect waves-light"> Video!
            </a>
            <br>
            <a href="{% url 'poll_create' %} "
                class="btn btn-large amber 	indigo-text text-darken-4 center  waves-effect waves-light"> Polls!
            </a>
            <br>
            <a href="{% url 'create_group' %} "
                class="btn btn-large amber 	indigo-text text-darken-4 center  waves-effect waves-light"> Group
            </a>
            <br>
            {% endif %}
            <div class="divider">

            </div>
        </div>

    </div>
</div>