{% load static %}
<div class="container my">
    <div class="parallax-container">
        <nav class="nav-wrapper transparent">
            <div class=" black-text">
                <a href="{% url 'blog-home' %}" class="center brand-logo black-text">Twaatch</a>
                <a href="" class="sidenav-trigger" data-target="mobile-menu">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="left hide-on-med-and-down">
                    <li><a href="" class=" black-text">Home</a></li>

                </ul>
                <ul class="right hide-on-med-and-down">

                    {% if user.is_authenticated%}
                    <li><a class="btn white indigo-text " href="{% url 'logout' %}">Log Out</a></li>
                    {% endif %}

                </ul>
                <ul class="sidenav grey lighten-2" id="mobile-menu">
                    <li><a href="" class=" black-text">Photo's</a></li>
                    <li><a href="" class=" black-text">Services</a></li>
                    <li><a href="" class=" black-text">Contact</a></li>
                </ul>
            </div>
        </nav>
        <style media="screen">
            .parallax-container {
                height: 60vh;
            }
        </style>
        <div class="parallax">
            <img src="{% static 'csgo.jpg' %}" alt="" class="responsive-img">
        </div>
    </div>
</div>